*.dmb
*.rsc
*.int
*.lk
*.zip


/bootstrap/data
/bootstrap/tmp
/classes/
/dist/
/exploded-archives/
/test-build/
/test-output/
/test-report/
/target
/target/*
*.iml
/.idea
.idea
/*/target
/*/target/*
*/*/target/*
target/*
DbMySQLFackeBook.iml


target/



/src/main/java/META-INF/
src/main/java/META-INF/
src/main/resources/data/MongoDb/
src/main/resources/data/hsqdb/
*.log

